USE [model]
GO
/****** Object:  Table [stage].[Minute]    Script Date: 8/2/2023 1:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stage].[Minute](
	[minute_id] [int] NULL
) ON [PRIMARY]
GO
